<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fafukeji.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.fafukeji.model.Message" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="send_user_id" property="sendUserId" jdbcType="INTEGER" />
    <result column="send_user_name" property="sendUserName" jdbcType="VARCHAR" />
    <result column="receive_user_id" property="receiveUserId" jdbcType="INTEGER" />
    <result column="receive_user_name" property="receiveUserName" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="updated_at" property="updatedAt" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, send_user_id, send_user_name, receive_user_id, receive_user_name, content, type,
    status, updated_at, created_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectMessage" resultMap="BaseResultMap" parameterType="com.fafukeji.model.Message">
      select * from message WHERE status = 0
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update message SET status = 1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fafukeji.model.Message" >
    insert into message (id, send_user_id, send_user_name,
      receive_user_id, receive_user_name, content,
      type, status, updated_at, created_at
      )
    values (#{id,jdbcType=INTEGER}, #{sendUserId,jdbcType=INTEGER}, #{sendUserName,jdbcType=VARCHAR},
      #{receiveUserId,jdbcType=INTEGER}, #{receiveUserName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{type,jdbcType=BIT}, #{status,jdbcType=BIT}, #{updatedAt,jdbcType=INTEGER}, #{createdAt,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fafukeji.model.Message" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sendUserId != null" >
        send_user_id,
      </if>
      <if test="sendUserName != null" >
        send_user_name,
      </if>
      <if test="receiveUserId != null" >
        receive_user_id,
      </if>
      <if test="receiveUserName != null" >
        receive_user_name,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sendUserId != null" >
        #{sendUserId,jdbcType=INTEGER},
      </if>
      <if test="sendUserName != null" >
        #{sendUserName,jdbcType=VARCHAR},
      </if>
      <if test="receiveUserId != null" >
        #{receiveUserId,jdbcType=INTEGER},
      </if>
      <if test="receiveUserName != null" >
        #{receiveUserName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fafukeji.model.Message" >
    update message
    <set >
      <if test="sendUserId != null" >
        send_user_id = #{sendUserId,jdbcType=INTEGER},
      </if>
      <if test="sendUserName != null" >
        send_user_name = #{sendUserName,jdbcType=VARCHAR},
      </if>
      <if test="receiveUserId != null" >
        receive_user_id = #{receiveUserId,jdbcType=INTEGER},
      </if>
      <if test="receiveUserName != null" >
        receive_user_name = #{receiveUserName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fafukeji.model.Message" >
    update message
    set send_user_id = #{sendUserId,jdbcType=INTEGER},
      send_user_name = #{sendUserName,jdbcType=VARCHAR},
      receive_user_id = #{receiveUserId,jdbcType=INTEGER},
      receive_user_name = #{receiveUserName,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      updated_at = #{updatedAt,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>