<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fafukeji.dao.RequirementsGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.fafukeji.model.RequirementsGoods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="requirement_id" property="requirementId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="updated_at" property="updatedAt" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, requirement_id, goods_id, status, updated_at, created_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from requirements_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from requirements_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fafukeji.model.RequirementsGoods" >
    insert into requirements_goods (id, user_id, requirement_id, 
      goods_id, status, updated_at, 
      created_at)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{requirementId,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{status,jdbcType=BIT}, #{updatedAt,jdbcType=INTEGER}, 
      #{createdAt,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fafukeji.model.RequirementsGoods" >
    insert into requirements_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="requirementId != null" >
        requirement_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="requirementId != null" >
        #{requirementId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fafukeji.model.RequirementsGoods" >
    update requirements_goods
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="requirementId != null" >
        requirement_id = #{requirementId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fafukeji.model.RequirementsGoods" >
    update requirements_goods
    set user_id = #{userId,jdbcType=INTEGER},
      requirement_id = #{requirementId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      updated_at = #{updatedAt,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>